body {
	background: #ad6499; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #ad6499 0%, #8658b7 47%, #492033 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ad6499), color-stop(47%,#8658b7), color-stop(100%,#492033)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #ad6499 0%,#8658b7 47%,#492033 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #ad6499 0%,#8658b7 47%,#492033 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #ad6499 0%,#8658b7 47%,#492033 100%); /* IE10+ */
	background: linear-gradient(135deg,  #ad6499 0%,#8658b7 47%,#492033 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad6499', endColorstr='#492033',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}